.institucional-navbar {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: rgba(1, 3, 47, 0.867);
  backdrop-filter: blur(10px);
    margin-left:0%; /* ✅ empuja el bloque hacia la derecha */
    width: 5;
  height: 5;

}

/* Alinea los botones a la derecha */
.botones-navbar {
  display: flex;
  gap: 1rem;
  margin-left: auto; /* ✅ empuja el bloque hacia la derecha */
  width: 1;
  height: 1;
}

/* Botón institucional */
.btn {
margin-left:80%;
 padding: 0.5rem 0.1rem;

  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);
  font-weight:normal;
  border-radius: 30px;
  width: 150px;
  height: 205;
  transition: background-color 1.0s ease;
  border: 0;
  cursor: pointer;
}
.btncampus {
  padding: 0.5rem 0.2rem;

  background-color: rgba(255, 255, 255, 0.05);
  color: rgb(255, 255, 255);
  font-weight:normal;
  border-radius: 30px;
  width: 150px;
  height: 205;
  transition: background-color 1.0s ease;
  border: 0;
  cursor: pointer;
  
  margin-left:10%;


}

/* Hover */
.btn:hover,
.btncampus:hover {
  background-color: #f0f0f0;
  color: #01032f;
  
}